
html {
	background-color: #1c1e26;
}





.box1 {
	position: relative;
	width: 40%;
	/*margin-right: auto;
	margin-left: auto;*/
	height: 150px;
	margin: 5%;
	cursor: pointer;
}

.box2 {
	position: relative;
	width: 40%;
	/*margin-right: auto;
	margin-left: auto;*/
	height: 150px;
	margin: 5%;
	cursor: pointer;
}
